<th:block th:fragment>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <div th:each="slide, iter : ${sliderPicsPlusOne}">
            <li data-target="#demo" th:attr="data-slide-to=${iter.index}"></li>
            </div>
<!--            <li data-target="#demo" data-slide-to="1"></li>-->
<!--            <li data-target="#demo" data-slide-to="2"></li>-->
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item" th:each="slide : ${sliderPicsPlusOne}">
                <img th:src="${slide.getPhotoPath()}" alt="test" height="500px" width="100%">
                <div class="carousel-caption">
                    <h3><span th:text="${slide.title}"></span></h3>
                    <p><span th:text="${slide.photoText}"></span></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <script>
        $(document).ready(function () {
            $('#demo').find('.carousel-item').first().addClass('active');
        });
    </script>
</th:block>