<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <th:block th:include="~{fragments/head}"/>
    <title>Начало • Публикация (WsBlog2.0)</title>
</head>
<body>
<!-- header start -->
<header>
    <th:block th:include="~{fragments/header-navi}"/>
</header>
<!-- header end -->
<div id="content">
    <!-- slider start -->
    <div th:switch="${sliderStatus}">
        <span th:case="true">
            <th:block th:include="~{fragments/slider}"/>
        </span>
    </div>
    <!--slider end    -->
    <!-- blog content start -->
    <th:block th:include="~{fragments/read-post-fragm}"/>
    <!-- blog content end -->
    <!-- footer start -->
    <th:block th:include="~{fragments/footer}"/>
    <!-- footer end -->
</div>
</body>
</html>